@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
picture {
  display: block;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
