.container-playlist{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 100vh;
  color: white;
  background-image: url('../assets/backgrounds/rusted.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
      .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 10vw;
      background-color:rgba(10, 10, 10, 0.5);
      border-radius: 0.5rem;
      padding: 0.25rem;
      margin-top: 15vh;
        h3 {
          color: orange;
          font-size: 1.25rem;
          text-align: center;
          font-weight: normal;
          font-family: 'Oswald', sans-serif;
          margin: 0;
        }
        h4 {
          font-size: 1.25rem;
          text-align: center;
          font-family: 'Oswald', sans-serif;
          font-weight: normal;
          margin: 0;
          padding: 0.5rem;
        }
    }
    .wrapper-collection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 80vw;
        background-color: rgba(10, 10, 10, 0.7);
        border-radius: 0.5rem;
        padding: 2rem 1rem;
        margin-top: 15vh;
        .title {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-self: flex-start;
          max-width: 60Vw;
          padding:  0 1rem;
          margin: 0 0 1rem 4rem;
          h3 {
            min-width: 15vw;
            font-size: 1rem;
            font-weight: normal;
            font-family: 'Oswald', sans-serif;
            margin: 0;
          }
        }
          .album-row {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            min-width: 70vw;
            background-color: rgba(85, 84, 84, 0.7);
            border-radius: 0.5rem;
            margin-bottom: 1rem;
            padding:  0 1rem;
              h3 {
                min-width: 20vw;
                font-size: 1rem;
                font-weight: normal;
                font-family: 'Oswald', sans-serif;
              }
              .favorite {
                min-width: 5vw;
                background-color: transparent;
                color: rgba(255, 255, 255, 0.4);
                padding: 0.25rem 0.5rem;
                font-family: 'Oswald', sans-serif;
                font-weight: normal;
                border-radius: 0.5rem;
                border: 1px solid  rgba(255, 255, 255, 0.4);
                margin-left: 1rem;
                &:hover {
                  color: rgba(255, 255, 255, 1);
                  border: 1px solid  rgba(255, 255, 255, 1);
                }
                &:active {
                  color: rgba(255, 255, 255, 1);
                  border: 1px solid  rgba(255, 255, 255, 1);
                  background-color: orange;
                }
              }
          }
      }

}